* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-boolando);
}

/* /region common */

:root {
    --main-orange: #ff6900;
    --black: #1a1a1a;
    --white: #ffffff;
    --smoke-white: #e9e7e5;
    --green-eco: #008000;
    --discount-price: #ff0000;
    --font-boolando: "Helvetica Now", Helvetica, Arial, sans-serif;
}

/* /endregion common */

/* /Region link */

.headlink {
    padding: 0.5rem;
    display: inline;
}

.headlink a {
    text-decoration: none;
    color: var(--white);
}

.footlist_item {
    display: inline;
}

.footlink {
    text-decoration: none;
    color: var(--white);
    margin-right: 0.5rem;
}

.fa-regular,
.fa-solid,
.fa-brands {
    color: var(--white);
    padding-left: 0.5rem;
}

/* /endregion link */

/* /region header */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--main-orange);
    height: 80px;
    box-shadow: 0px 1px 10px 1px #434141;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 10rem;
    width: 100%;
    z-index: 99;
}

.headlist {
    width: calc(100 / 3);
}

.logo {
    width: calc(100 / 3);
}

.personal_area {
    width: calc(100 / 3);
}

/* /endregion header */

/* /region main */

#app-main {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.row {
    width: 70%;
    margin: auto;
}

.col4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: calc(90% / 3);
    margin: 2rem 0.5rem;
    position: relative;
}


.card:hover .backcard {
    display: inline;
}

.card .backcard {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.card_image {
    position: relative;

}

.card_image img {
    width: 100%;
}

.box {
    position: absolute;
    bottom: 10%;
    left: 1%;
    z-index: 3;
}

.percentage {
    padding: 0.2rem;
    background-color: var(--discount-price);
    color: var(--white);
}

.sostenibility {
    padding: 0.2rem;
    background-color: var(--green-eco);
    color: var(--white);
}

.like {
    position: absolute;
    top: 1%;
    right: 0%;
    padding: 0.5rem 0.7rem;
    font-size: 25px;
    background-color: var(--white);
    z-index: 3;
}

.like:hover {
    color: var(--discount-price);
}

.item_details {
    list-style: none;
}

.brand {
    font-size: 14px;
}

.item_name {
    font-weight: bolder;
}

.price_discount {
    color: var(--discount-price);
    font-weight: 500;
    font-size: 14px;
    margin-right: 0.5rem;
}

.price {
    text-decoration: line-through;
    font-size: 14px;
}

/* /endregion main */

/* /region footer */

.footbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--black);
    align-items: center;
    height: 10rem;
}

.credits {
    text-decoration: none;
    color: var(--white);
    text-align: left;
    margin-bottom: 0.5rem;
}

.finder {
    text-decoration: none;
    color: var(--white);
    text-align: right;
    margin-bottom: 0.5rem;
}

/* /endregion footer */